@import "tailwindcss";

@font-face {
  font-family: "MyFont";
  src: url("./assets/fonts/SpotifyMix-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "MyFont";
  src: url("./assets/fonts/SpotifyMix-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MyFont";
  src: url("./assets/fonts/SpotifyMix-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyFont";
  src: url("./assets/fonts/SpotifyMix-Extrabold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MyFont";
  src: url("./assets/fonts/SpotifyMix-Black.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "MyFont";
  src: url("./assets/fonts/SpotifyMix-Ultra.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}